section.team
	text-align: center
	min-height: 800px

	div.bubbles-3d
		$bubble-size: 300px
		$bubble-second-size: $bubble-size * 0.7
		$bubble-third-size: $bubble-size * 0.5
		+outer-container(12)
		position: relative
		min-height: 100%

		ul.bubbles-3d-container
			+span-columns(10)
			+shift(1)
			position: relative
			
			li.bubbles-3d-item
				height: $bubble-size
				width: 100%
				position: absolute
				
				div
					+size($bubble-size)
					overflow: hidden
					+border-top-radius(50%)
					+border-right-radius(50%)
					+border-bottom-radius(50%)
					+border-left-radius(50%)

					img
						width: 100%

				article
					+span-columns(8)
					+shift(2)
					display: none

					h3
					h6
					a
					p
					ul
						li
							a

				&.active
					+margin(0px auto)
					z-index: 3

					div
						+margin(0px auto)

					article
						display: block

				&.bubble-second-left
					z-index: 2
					div
						+size($bubble-second-size)
						+margin(null 20%)

				&.bubble-third-left
					z-index: 1

					div
						+size($bubble-third-size)
						+margin(null 10%)

				&.bubble-second-right
					@extend .bubble-second-left
					div
						+margin(estabaenesto 20% null auto)

				&.bubble-third-right
					@extend .bubble-third-left
					div
						+margin(null 10% null auto)
				
				&.bubble-hidden
					display: none