section.team
	text-align: center
	min-height: 800px
	padding-top: 4em
	+background(url('../images/team-background.jpg'))

	article.main-section
		color: white

	div.bubbles-3d
		$bubble-size: 300px
		$bubble-second-size: $bubble-size * 0.7
		$bubble-third-size: $bubble-size * 0.5
		$text-color: white
		+outer-container(12)
		position: relative
		min-height: 100%

		ul.bubbles-3d-container
			position: relative
			+span-columns(10)
			+shift(1)
			
			li.bubbles-3d-item
				position: relative
				height: $bubble-size
				color: $text-color
				float: left
				
				div
					+size($bubble-size)
					overflow: hidden
					+border-top-radius(50%)
					+border-right-radius(50%)
					+border-bottom-radius(50%)
					+border-left-radius(50%)

					img
						width: 100%
						+filter(grayscale(80%))
						+filter(brightness(20%))
						+transition(filter 0.5s ease-in-out)

					&:hover
						img
							+filter(none)

				article
					position: absolute
					width: 200%
					+margin(1em 50% null -50%)
					display: none

					h3
					h6
					a
					p
					ul
						li
							a

				&.active
					+margin(0px auto)
					z-index: 3
					height: 100%

					div
						+margin(0px auto)

						img
							+filter(grayscale(0%))

					article
						display: block

				&.bubble-second-left
					z-index: 2
					margin-right: -3%

					div
						+size($bubble-second-size)
						+margin(($bubble-size * 0.15) null ($bubble-size * 0.15) null)

				&.bubble-third-left
					z-index: 1
					margin-right: -3%
					margin-left: 7.5%

					div
						+size($bubble-third-size)
						+margin(($bubble-size * 0.25) null ($bubble-size * 0.25) null)

				&.bubble-second-right
					z-index: 2
					margin-left: -3%

					div
						+size($bubble-second-size)
						+margin(($bubble-size * 0.15) null ($bubble-size * 0.15) null)

				&.bubble-third-right
					z-index: 1
					margin-left: -3%

					div
						+size($bubble-third-size)
						+margin(($bubble-size * 0.25) null ($bubble-size * 0.25) null)
				
				&.bubble-hidden
					display: none

				&.bubble-penultimate-left
					margin-left: #{$bubble-third-size}

				&.bubble-last-left
					margin-left: calc(50% - (#{$bubble-size} / 2))

